// COLORS OVERRIDE
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);
// COLORS OVERRIDE

 

// ACCORDION OVERRIDE
$accordion-button-active-icon:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FA5959'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
$accordion-button-icon:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235265E1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
// ACCORDION OVERRIDE


// IMPORT BOOTSTRAP
@import "./node_modules/bootstrap/scss/bootstrap.scss";
// IMPORT BOOTSTRAP


// PERSONALIZACION

// BARRA NAVEGACION
.log-button{
    --bs-btn-color: white;
}
.nav-link{
    color: black;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(254, 254, 254)!important;
}
.log-button:hover {
    color: $secondary;
    background-color: white;
    border-color: $secondary;
}
.nav-menu:hover{
    color: $secondary;
}

// BARRA NAVEGACION

// PAGINA PRINCIPAL
.custom-button-card-black{
    --bs-btn-bg: rgb(247, 247, 247); 
    --bs-btn-color: black;
}
.btn-secondary{
    --bs-btn-bg: rgb(185, 182, 182); 
    --bs-btn-border-color: rgb(185, 182, 182); 
    --bs-btn-hover-border-color: grey;
    --bs-btn-hover-bg:white;
}

.imagen-mancha {
  max-width: auto;
  position: relative;
  z-index: 1;
}
.mancha{
    width:100%;
    height: 250px;
    position: absolute;
    left: 150px;
    right:0px;
    bottom:200px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    background-color: $primary;
    z-index: -1;
}
// PAGINA PRINCIPAL

// FEATURES
.nav-tabs{  
    border-left-color: white;
    border-right-color: unset;
    border-top-color: unset;
}
.custom-tab{
    border-bottom:  grey solid 1px;    
  }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: black;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
    border-bottom: $secondary solid 5px;
}
.nav-link:hover, .nav-link:focus {
    color: $secondary;
    font-weight: bold;
}
.imagen-mancha-reves {
    max-width: auto;
    position: relative;
    z-index: 1;
  }
.mancha-reves{
    width: 500px;
    height: 250px;
    position: absolute;
    left: -125px;
    bottom: 0;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-color: #5265E1;
    z-index: -1;
}
// FEATURES

// DOWNLOADS
.card-img, .card-img-top, .card-img-bottom {
    width: 40%;
  
  }
  
hr.dotted {
border-top: 5px dotted #999;
}

.custom-button-card {
--bs-btn-hover-bg: white;
--bs-btn-hover-border-color: #5265E1;
--bs-btn-color: white;
--bs-btn-active-color: white;
--bs-btn-hover-color: #5265E1;
}
// DOWNLOADS


// FAQs
.accordion-button:not(.collapsed) {
    color: $secondary;
    background-color: white;  
}
.border-accordion{
    border-top: #dddddd solid 0.1px;
}
// FAQs


// FOOTER
.footer-custom{
    background-color: $primary;
    height: auto;
}
.text-footer-custom{
    color: white;
}
.form-control {   
    display: flex; 
    width: 40%;
    margin-left: 70%;    
}
.contactus{
    margin-right: 55%;
}
.footer-menu{
    display: flex;
    background-color: black;
    color: rgb(211, 211, 211);
}

.link-custom{
    text-decoration: none;
    color: white;
    font-size: small;
    justify-content: flex-start;
}
.link-custom-footer:hover{    
    color: $secondary;
    font-weight: bold;    
}
.icon-custom{
   --body-color: red; 
}

.btn-secondary.contactus{
    --bs-btn-bg: red; 
    --bs-btn-border-color: rgb(185, 182, 182); 
    --bs-btn-hover-border-color: grey;
    --bs-btn-hover-bg:white;
}

// FOOTER

// RESPONSIVE
@media only screen and (max-width:768px){
    .nav{
        flex-direction: column;
        margin: 0 50px 0 50px; 
        padding: 0 20px; 
    }  
    .custom-tab-sup{
        border-top:     grey solid 1px;
    }
    .mancha-reves {
        width: 418px;
        height: 175px;
        position: absolute;
        left: -100px;
        bottom: 25px;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        background-color: #5265E1;
        z-index: -1;
    }
    .mancha{
        width:600px;
        height: 250px;
        position: absolute;
        left: 130px;
        bottom: 0;
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
        background-color: $primary;
        z-index: -1;
    }
    .cutom-cards{
        height: 1400px;
    }
    .form-control {   
        flex-direction: column;
        width: auto;
        margin: 0 auto;    
    }  
}
@media only screen and (min-width:993px){
    .nav{   
      margin: 0 15%;   
    } 
    .cutom-cards{
        height: 600px;
    }     
}
@media only screen and (max-width:992px){
    .menu-footer{
        display: block;
        justify-content: center;
    }
    .footer-menu{
        display: block;        
    } 
}
@media only screen and (max-width:1200px){
    .mancha-reves {
        width: 618px;
        height: 175px;
        position: absolute;
        left: -398px;
        bottom: 0px;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        background-color: #5265E1;
        z-index: -1;
    } 
       
}
// RESPONSIVE


// PERSONALIZACION