// COLORS OVERRIDE
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);
// COLORS OVERRIDE

$navbar-light-color: rgb(242, 242, 242);

// IMPORT BOOTSTRAP
@import "./node_modules/bootstrap/scss/bootstrap.scss";
// IMPORT BOOTSTRAP


// PERSONALIZACION

// BARRA NAVEGACION
.log-button{
    --bs-btn-color: white;
}
.nav-link{
    color: black;
}
// BARRA NAVEGACION

// PAGINA PRINCIPAL
.custom-button-card-black{
    --bs-btn-bg: rgb(247, 247, 247); 
    --bs-btn-color: black;
}

.imagen-mancha {
  max-width: auto;
  position: relative;
  z-index: 1;
}
.mancha{
    width:600px;
    height: 250px;
    position: absolute;
    left: 130px;
    bottom: 0;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    background-color: $primary;
    z-index: -1;
}
// PAGINA PRINCIPAL

// FEATURES
.nav-tabs{  
    border-left-color: white;
    border-right-color: unset;
    border-top-color: unset;
}
.custom-tab{
    border-bottom:  grey solid 1px;    
  }
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: black;
    border-left-color: white;
    border-right-color: white;
    border-top-color: white;
    border-bottom: $secondary solid 5px;
}
.nav-link:hover, .nav-link:focus {
    color: black;
    font-weight: bold;
}
.imagen-mancha-reves {
    max-width: auto;
    position: relative;
    z-index: 1;
  }
.mancha-reves{
    width: 700px;
    height: 250px;
    position: absolute;
    left: -325px;
    bottom: 0;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-color: #5265E1;
    z-index: -1;
}
// FEATURES

// DOWNLOADS
.card-img, .card-img-top, .card-img-bottom {
    width: 40%;
  
  }
  
hr.dotted {
border-top: 5px dotted #999;
}

.custom-button-card {
--bs-btn-hover-bg: white;
--bs-btn-hover-border-color: #5265E1;
--bs-btn-color: white;
--bs-btn-active-color: white;
--bs-btn-hover-color: #5265E1;
}
// DOWNLOADS



// RESPONSIVE
@media only screen and (max-width:768px){
    .nav{
        flex-direction: column;
        margin: 0 50px 0 50px; 
        padding: 0 20px; 
    }  
    .custom-tab-sup{
        border-top:     grey solid 1px;
    }
    .mancha-reves {
        width: 618px;
        height: 175px;
        position: absolute;
        left: -398px;
        bottom: 25px;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        background-color: #5265E1;
        z-index: -1;
    }
}
@media only screen and (max-width:1200px){
    .mancha-reves {
        width: 618px;
        height: 175px;
        position: absolute;
        left: -398px;
        bottom: 0px;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        background-color: #5265E1;
        z-index: -1;
    }
}
@media only screen and (min-width:993px){
    .nav{   
      margin: 0 15%;   
    } 
   
}
// RESPONSIVE


// PERSONALIZACION