// COLORS OVERRIDE
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);
// COLORS OVERRIDE

$navbar-light-color: rgb(242, 242, 242);

// IMPORT BOOTSTRAP
@import "./node_modules/bootstrap/scss/bootstrap.scss";
// IMPORT BOOTSTRAP


// PERSONALIZACION

// BARRA NAVEGACION
.log-button{
    --bs-btn-color: white;
}
.nav-link{
    color: black;
}
// BARRA NAVEGACION

// PAGINA PRINCIPAL
.custom-button-card-black{
    --bs-btn-bg: rgb(247, 247, 247); 
    --bs-btn-color: black;
}

.imagen-mancha {
  max-width: auto;
  position: relative;
  z-index: 1;
}
.mancha{
    width:600px;
    height: 250px;
    position: absolute;
    left: 130px;
    bottom: 0;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    background-color: $primary;
    z-index: -1;
}

// PAGINA PRINCIPAL

@media only screen and (max-width:992px){
    .nav{
        flex-direction: column;
        margin: 0 50px 0 50px; 
        padding: 0 20px; 
    }  
}


@media only screen and (min-width:993px){
    .nav{   
      margin: 0 15%;   
    } 
}
// PERSONALIZACION